body {
  background-color: #26a69a;
  font-family: Avenir,Helvetica,Arial,sans-serif;
}

h1 {
  font-size: 3rem;
}

.bold {
  font-weight: bold;
}

#espaceConnexion input {
   text-align:center;
   font-size: 1.2rem!important;
}

#espaceChat {
  visibility: hidden;
  background-color: white;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 5px;
}

#conversation {
  word-wrap: break-word;
  height: 70vh;
  overflow-y: scroll;
}

#messageForm input {
   background-color: #f2f5f9;
   padding-top: 15px;
   padding-bottom: 15px;
}

.msg {
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 5px;
    width: 80%
}

.msg-dark {
  background-color: #26a69a;
  color: white;
}

.msg-light {
  background-color: #dee1e5;
  color: #565759;
}

.user {
  border-radius: 5px;
  padding: 6px;
}

.user-dark {
  background-color: #26a69a;
  color: white;
  cursor: pointer;
}

.user-light {
  background-color: #dee1e5;
  color: #565759;
}
